body {
  background-color: $color-bg-primary;
  color: $color-text;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  padding: 10px;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;

  font-family: 'KoHo', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

%form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%field {
  width: 150px;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 10px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;

  background-color: $color-bg-primary;
  color: $color-text;
  box-shadow: inset -5px -5px 15px #ffffffbf, inset 5px 5px 10px #a6b4c8bf;
  border: 1px solid $color-grey;
  border-radius: 40px;
  outline: none;

  &::placeholder {
    color: $color-grey;
  }
}

%button {
  background-color: $color-bg-primary;
  box-shadow: -12px -12px 20px #ffffffcc, 10px 10px 20px #a6b4c8b3;
  border: none;
  border-radius: 40px;

  cursor: pointer;

  transition: all 250ms ease;

  &:hover {
    background-color: $color-accent;
  }

  &:disabled {
    background-color: $color-grey;
    box-shadow: none;

    &:hover {
      color: $color-accent;
    }
  }
}
