.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  row-gap: 10px;
  max-width: 500px;

  &__title {
    margin-bottom: 15px;

    color: $color-text;
  }

  &__input {
    display: none;

    &:checked + .deck__label {
      background-color: $color-green;
    }

    &:disabled + .deck__label {
      background-color: $color-grey;
      box-shadow: none;
    }

    &:disabled:hover + .deck__label {
      color: $color-accent;
    }

    &:disabled:checked + .deck__label {
      background-color: $color-green;
    }
  }

  &__label {
    @extend %button;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 70px;

    font-size: 18px;
    box-shadow: inset -4px -4px 9px #ffffffb3, inset 4px 4px 5px #a6b4c8b3;
    border-radius: 20px;

    @media screen and (max-width: 499px) {
      width: 40px;
      height: 60px;
    }

    @media screen and (min-width: 500px) {
      &:hover {
        background-color: $color-teal;
      }
    }
  }
}
