.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

  &__title {
    margin-bottom: 5px;

    color: $color-black;
  }

  &__input {
    display: none;

    &:checked + .deck__label {
      background-color: $color-green;
    }

    &:disabled + .deck__label {
      background-color: $color-grey;
      color: $color-accent;
    }

    &:disabled:hover + .deck__label {
      opacity: 0.7;
    }

    &:disabled:checked + .deck__label {
      background-color: $color-green;
    }
  }

  &__label {
    @extend %button;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 45px;

    border-radius: 5px;
  }
}
