.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94px;
  margin-bottom: 25px;
  padding: 15px;

  @media screen and (max-width: 499px) {
    margin-bottom: 15px;
  }

  &__manage {
    display: flex;
    gap: 10px;
    margin-left: auto;

    @media screen and (max-width: 499px) {
      flex-direction: column;
    }
  }

  &__button {
    @extend %button;

    width: 110px;
    height: 40px;
    white-space: nowrap;
  }
}
