.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 94px;
  margin-bottom: 25px;
  padding: 15px;

  &__manage {
    display: flex;
    gap: 10px;
  }

  &__button {
    @extend %button;

    width: 110px;
    height: 40px;
    white-space: nowrap;
  }
}
